<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Pokemon</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{%  static 'style.css' %}">

    <a href="index.html" style="text-align: right"> Home </a>
        </br>
    <a href="Query.html" style="text-align: right"> Query Result </a>
        </br>
    <a href="Add.html" style="text-align: right"> Add a Pokemon </a>
        </br>

<br>
<br>
<br>

<form action = Add.html method="post">
    {% csrf_token %}
Name: <input type="text" name="Name" maxlength="50" minlength="2" required > <br>
Type: <input type="text" name="Type" maxlength="50" required> <br>
Generation: <input type="number" name="Generation" min="1" max="6" required> <br>
Legendary: <input type="checkbox" name="Legendary" CHECKED> <br>
HP: <input type="number" name="HP" maxlength="300" required> <br>
Attack: <input type="number" name="Attack" max="300" required> <br>
Defense: <input type="number" name="Defense" max="300" required> <br>

<button type="submit" value="Send"> Submit </button>

</form>

</body>
</html>