<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<body>
{% load static %}
<link rel="stylesheet" href="{%  static 'style.css' %}">

    <a href="index.html" style="text-align: right"> Home </a>
        </br>
    <a href="Query.html" style="text-align: right"> Query Result </a>
        </br>
    <a href="Add.html" style="text-align: right"> Add a Pokemon </a>
        </br>


<h1> Pokemon League Website! </h1> <br><br>
<h2>
    Welcome to Mor&Maor's Official Pokemon League! <br>
    We do not particularly enjoy Django but we get along <br>
    It's better then Integrity Constraints anyway
</h2> <br><br>

<img src="static/league.jpg">



</body>
</html>