<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query</title>
</head>
<body>

{% load static %}
<link rel="stylesheet" href="{%  static 'style.css' %}">
    <a href="index.html" style="text-align: right"> Home </a>
        </br>
    <a href="Query.html" style="text-align: right"> Query Result </a>
        </br>
    <a href="Add.html" style="text-align: right"> Add a Pokemon </a>
        </br>


<h2 style="text-align: center">Strongest pokemon that are legendary, by generation: </h2>
<table border="1" bordercolor="black" width="40%" align="center" style="alignment: center" bgcolor="#faebd7">
    <th>Generation</th>
    <th>Pokemon</th>
        {% for Pokemons in sql_res1 %}
            <tr>
            <td> {{ Pokemons.generation }} </td>
            <td> {{ Pokemons.name }} </td>
            </tr>
        {% endfor %}
</table>

<br>
<br>

<h2 style="text-align: center">Dominant pokemon, by type: </h2>
<table border="1" width="40%" align="center" style="alignment: center" bgcolor="#faebd7">
    <th>Type</th>
    <th>Pokemon</th>
        {% for Pokemons in sql_res2 %}
            <tr>
            <td> {{ Pokemons.type }} </td>
            <td> {{ Pokemons.name }} </td>
            </tr>
        {% endfor %}
</table>

<br>
<br>

<h2 style="text-align: center">Type with strongest Pokemon strongest then "attack Threshold"
                                and more then "Pokemon Count" Pokemons: </h2>
<form method="post" name="form" action="Query.html">
    {% csrf_token %}
attack Threshold: <input type="number" name="attack" min="0" required> <br>
Pokemon Count: <input type="number" name="count" min="0" required> <br>
<button name="Send" type="submit" value="Send"> Submit </button>
</form>

{% if error %}
        {{ error }}
    {% endif %}

<table border="1" width="40%" align="center" style="alignment: center" bgcolor="#faebd7">
    <th>Type</th>
        {% for Pokemons in sql_res3 %}
            <tr>
            <td> {{ Pokemons.type }} </td>
            </tr>
        {% endfor %}
</table>

<br>
<br>

<h2 style="text-align: center">Type with highest average instability: </h2>
<table border="1" width="40%" align="center" style="alignment: center" bgcolor="#faebd7">
    <th>Type</th>
    <th>Average instability</th>
        {% for Pokemons in sql_res4 %}
            <tr>
            <td> {{ Pokemons.type }} </td>
            <td> {{ Pokemons.max_average_instability }} </td>
            </tr>
        {% endfor %}
</table>



</body>
</html>